services:

  shop_floor:
    build:
      context: ./backend
    container_name: shop_floor
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/app.env
    depends_on:
      shopfloor_db:
        condition: service_healthy
    networks:
      - shop-floor-network

  sf_ui:
    build:
      context: ./frontend
      target: production-stage
    container_name: sf_ui
    ports:
      - "8080:80"
    depends_on:
      - shop_floor
    networks:
      - shop-floor-network

  shopfloor_db:
    image: postgres:14-alpine
    container_name: shopfloor_db
    env_file:
      - ./backend/db.env
    ports:
      - "5432:5432"
    networks:
      - shop-floor-network
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 20

networks:
  shop-floor-network:
    driver: bridge

volumes:
  postgres_data: